.git
.gitignore
.gradle
.idea
build
logs
docs
tmp
temp

.env
.env.*
*.env

*.log
*.tmp

docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.prod.yml

*service-account*.json
*firebase*.json
*google-credentials*.json
*aws-credentials*
credentials.json

*.p8
*.pem
*.key
*.crt
*.cer
*.csr
*.p12
*.pfx
*.jks
*.keystore


# IntelliJ 설정 파일
*.run.xml
.run/