.git
.gradle
.idea
build
logs
docs
tmp
temp

.env
.env.*
*.env

*.log
*.tmp

docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.prod.yml

*service-account*.json
*firebase*.json
*google-credentials*.json
credentials.json
*.p8
*.pem
*.key
*.jks
*.keystore
